@model IEnumerable<Products_Categories.DataModels.Product>

@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <meta name="viewport" content="width=device-width" />
    <title>Producto</title>
</head>
<body>
    <div class="container">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nota)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.Description)
                </th>
                <th></th>
            </tr>
    
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
                </td>
            </tr>
        }
    
    </table>
    </div>
</body>
</html>
